<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal blog post</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="{{ url_for('start') }}"><i class="material-icons">library_books</i></a>
                    <a class="button icon-right" href="{{ url_for('new_entry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{row['title']}}</h1>
                        <time datetime="2016-01-31">{{row['formattedDate']}}</time>
                        <div class="entry">
                            <h3>Time Spent: </h3>
                            <p>{{ row['timespent'] }}</p>
                        </div>
                        <div class="entry">
                            <h3>What I Learned:</h3>
                            <p>{{ row['learned'] }}</p>
                        </div>
                        <div class="entry">
                            <h3>Resources to Remember:</h3>
                            <p>{{ row['resources'] }}</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="edit">
                <p><a href="{{ url_for('edit_post', the_id=row['id']) }}">Edit Entry</a></p>
                <p><a href="{{ url_for('delete_post', the_id=row['id']) }}">Delete Entry</a></p>
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>